.horizontal-split-handle {
  width: var(--dim-splitter-thickness);
  cursor: col-resize;
  transition: background-color 300ms ease-in-out;
}
.horizontal-split-handle:hover {
  background-color: var(--theme-selected);
}

.vertical-split-handle {
  height: var(--dim-splitter-thickness);
  cursor: row-resize;
}
.vertical-split-handle:hover {
  background-color: var(--theme-selected);
}
