.when-theme-light {
    --theme-sidebar-background: var(--color-gray-50);
    --theme-sidebar-foreground: var(--color-gray-800);
    --theme-sidebar-section-background: var(--color-gray-200);
    --theme-sidebar-section-foreground: var(--color-gray-800);

    --theme-list-hover-background: var(--color-gray-300);
    --theme-graytext: var(--color-gray-400);

    --theme-content-background: var(--color-gray-100);
    --theme-content-foreground: var(--color-gray-800);

    --theme-tab-background: var(--color-gray-50);
    --theme-tab-foreground: var(--color-gray-800);
    --theme-tab-border: var(--color-gray-300);
    --theme-tab-active-background: var(--color-gray-100);
    --theme-tab-active-foreground: var(--color-gray-800);
    --theme-tab-hover-background: var(--color-gray-200);
    --theme-tab-active-border-top: var(--color-sky-500);

    --theme-action-icon: var(--color-gray-800);
    --theme-action-icon-hover: var(--color-sky-800);
}