.when-theme-light {
    --theme-sidebar-bg: var(--color-gray-50);
    --theme-sidebar-fg: var(--color-gray-800);
    --theme-sidebar-section-bg: var(--color-gray-200);
    --theme-sidebar-section-fg: var(--color-gray-800);

    --theme-list-hover-bg: var(--color-gray-300);
    --theme-graytext: var(--color-gray-400);

    --theme-content-bg: var(--color-gray-100);
    --theme-content-fg: var(--color-gray-800);

    --theme-tab-bg: var(--color-gray-50);
    --theme-tab-fg: var(--color-gray-800);
    --theme-tab-border: var(--color-gray-300);
    --theme-tab-active-bg: var(--color-gray-100);
    --theme-tab-active-fg: var(--color-gray-800);
    --theme-tab-hover-bg: var(--color-gray-200);
    --theme-tab-active-border-top: var(--color-sky-500);

    --theme-action-icon: var(--color-gray-800);
    --theme-action-icon-hover: var(--color-sky-800);
}