.when-theme-light,
.when-theme-dark {
    --theme-statusbar-background: oklch(68.5% 0.169 237.323);
    --theme-statusbar-foreground: white;

    --theme-widget-panel-background: var(--color-gray-800);
    --theme-widget-panel-foreground: var(--color-gray-500);
    --theme-widget-icon-active-background: var(--color-gray-600);
    --theme-widget-icon-active-foreground: white;

    --theme-splitter-active: var(--color-sky-500);
}
